<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/style.css">

    {{!-- Bootstrap CSS CDN --}}
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


    <title>DevMatch</title>
    {{!-- Import header partials --}}
    {{>header}}
</head>
<body>

    {{!-- Main body content --}}
    {{{ body }}}

    <h1>Welcome Recruiters!!</h1>



    <h2>Applicants Stored In the Database:</h2>

    <h3>Search for potential applicants</h3>

    //start of search form
    <form class="create-form" method="POST" action="">
        <div class="form-group">
            <label for="search">Applicants:</label>
            <input type="text" id="search" name="skills" value="{{users.skills}}"></input>
        </div>

        <button type="submit">Search</button>
    </form>


    //page loads with the names of the applicants based on their score
    {{!-- JQuery CDN --}}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    {{!-- Bootstrap JS CDN --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    {{!-- Applicant.handlebars script file --}}
    <script src="/js/applicant.js"></script>

        //loops through the users in the db
        applicantMatch: function(whatToSelect, colToSearch, valOfCol){

            //loops for skills that are valued as true
            var queryString = 'SELECT * FROM' + users + ' WHERE ' + skills + ' = true';
            connection.query(queryString, [valOfCol], function(err, result) {
                console.log(result);
            )};
        };


        <ul>
            {{#each users}}
                <li>
                    <p><span class="label">First Name:</span> {{this.first_name}}</p>
                    <p><span class="label">Last Name:</span> {{this.last_name}}</p>
                    <p><span class="label">Personality Type:</span> {{this.personality_type}}</p>
                </li>
            {{/each}}
         </ul>
        }
        }
    };


    {{!-- Import footer partials --}}
    {{>footer}}
</body>
</html>





