<h1>Recruiters Page</h1>

<p>Browse Applicants</p>
<style>
ul#menu li {
    display:inline;
}
</style>
<ul id="menu">
  {{#each skills}}
      <li>{{this.id}}</li>
      <li>First Name: {{this.first_name}}</li>
      <li>Last Name: {{this.last_name}}</li>
      <li>Email: {{this.email}}</li>
      <li>Address: {{this.address}}</li>
      <li>Phone Number: {{this.phone_number}}</li>
      <li>Linkedin: {{this.linkedin}}</li>
      <li>Github: {{this.github}}</li>
      <li>CSS?: {{this.CSS}}</li>
      <li>HTML?: {{this.HTML}}</li>
      <li>Ruby Rails?: {{this.Ruby_Rails}}</li>
      <li>Java?: {{this.Java}}</li>
      <li>Javascript?: {{this.Javascript}}</li>
      <li>MySQL?: {{this.MySQL}}</li>
      <li>React?: {{this.React}}</li>
      <li>PHP?: {{this.PHP}}</li>
      <li>Groovy Grails?: {{this.Groovy_Grails}}</li>
      <li>C++ ?: {{this.C_plus_plus}}</li>
      <li>Others: {{this.others}}</li>
      <br>
      <br>
<!-- ===============WIll add personality type later....need JOIN for that -->

    <!--   <form action="/delete?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{this.id}}">
        <button type="submit">Delete</button>
      </form>

      <a href="/quotes/{{this.id}}">Update this quote</a> -->
  {{/each}}
</ul>